@import "~bootstrap/scss/bootstrap.scss";

/* 共通部分
---------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: black;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 4rem;
}
.page-title {
  font-weight:300;
  text-align: center;
  margin: 3rem;
}
li {
  list-style: none;
}
.btn {
  font-size: 1.5rem;
}